<!-- new code -->
<div class="container">
	<div align="center">
		<div id="signUpSuccess" style="display: none; color: green">Sign
			Up successfully!</div>
		<div id="signUpFailure" style="display: none; color: green">Sign
			Up Fail!</div>
		<div id="invalidName" style="display: none; color: red">This
			name is already taken!</div>
	</div>
	<table align="center">
		<tr>
			<td></td>
			<td></td>
			<td>
				<div id="nameError" style="display: none; color: red">Name not
					provided!</div>
			</td>
		</tr>
		<tr>
			<td>
				<input type="hidden" id="nameMessage" name="nameMessage">
			</td>
			<td>Name:</td>
			<td>
				<input type="text" id="name" name="name">
			</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>
				<div id="roleError" style="display: none; color: red">Role not
					provided!</div>
			</td>
		</tr>
		<tr>
			<td>
				<input type="hidden" id="roleMessage" name="roleMessage">
			</td>
			<td>Role:</td>
			<td>
				<select id="role" name="role">
					<option selected="selected">Role</option>
					<option>owner</option>
					<option>customer</option>
				</select>
			</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>
				<div id="ageError" style="display: none; color: red"></div>
			</td>
		</tr>
		<tr>
			<td>
				<input type="hidden" id="ageMessage" name="ageMessage">
			</td>
			<td>Age:</td>
			<td>
				<input type="text" id="age" name="age">
			</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>
				<div id="stateError" style="display: none; color: red">State
					not provided!</div>
			</td>
		</tr>
		<tr>
			<td>
				<input type="hidden" id="stateMessage" name="stateMessage">
			</td>
			<td>State:</td>
			<td>
				<select id="state" name="state">
					<option selected="selected">State</option>
					<option>Alabama</option>
					<option>Alaska</option>
					<option>Arizona</option>
					<option>Arkansas</option>
					<option>California</option>
					<option>Colorado</option>
					<option>Connecticut</option>
					<option>Delaware</option>
					<option>Florida</option>
					<option>Georgia</option>
					<option>Hawaii</option>
					<option>Idaho</option>
					<option>Illinois</option>
					<option>Indiana</option>
					<option>Iowa</option>
					<option>Kansas</option>
					<option>Kentucky</option>
					<option>Louisiana</option>
					<option>Maine</option>
					<option>Maryland</option>
					<option>Massachusetts</option>
					<option>Michigan</option>
					<option>Minnesota</option>
					<option>Mississippi</option>
					<option>Missouri</option>
					<option>Montana</option>
					<option>Nebraska</option>
					<option>Nevada</option>
					<option>New Hampshire</option>
					<option>New Jersey</option>
					<option>New Mexico</option>
					<option>New York</option>
					<option>North Carolina</option>
					<option>North Dakota</option>
					<option>Ohio</option>
					<option>Oklahoma</option>
					<option>Oregon</option>
					<option>Pennsylvania</option>
					<option>Rhode Island</option>
					<option>South Carolina</option>
					<option>South Dakota</option>
					<option>Tennessee</option>
					<option>Texas</option>
					<option>Utah</option>
					<option>Vermont</option>
					<option>Virginia</option>
					<option>Washington</option>
					<option>West Virginia</option>
					<option>Wisconsin</option>
					<option>Wyoming</option>
				</select>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<input onClick="validate()" type="button" value="Signup">
			</td>
		</tr>
	</table>
</div>